# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Runtime
pids
*.pid

# Build / temp
dist/
build/
tmp/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
.npm
.eslintcache
.node_repl_history